.option{
    width: 100%;
    height:100vh;
    background: url('../../assets/options-bg.jpg') no-repeat center center/cover ;
}

.option .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.option .top{
    margin-top: 7rem;
    color:#f6f6f6
}

.option .bottom{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;

}

@media screen and (max-width:540px){
    .option .container .bottom {flex-direction: column;}
}